fastapi==0.129.0
uvicorn[standard]==0.40.0
python-multipart==0.0.6

SQLAlchemy==2.0.46
alembic==1.13.0
psycopg2-binary>=2.9.12

pydantic==2.12.5
pydantic-settings==2.1.0
python-dotenv==1.2.1

pytest==7.4.3
pytest-cov==4.1.0
pytest-asyncio==0.21.1
httpx==0.25.1

black==23.11.0
flake8==6.1.0
mypy==1.7.1
isort==5.12.0

python-dateutil==2.8.2

# Remote additions
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
click==8.3.1
colorama==0.4.6
greenlet==3.3.1
h11==0.16.0
idna==3.11
pydantic_core==2.41.5
starlette==0.52.1
typing-inspection==0.4.2
typing_extensions==4.15.0
celery==5.3.4
redis==5.0.1
flower==2.0.1
