[run]
source = app
omit =
    app/main.py
    app/database.py
    app/gates/*
    app/state_machines/*
    app/api/*

[report]
precision = 2
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
